/* styles for index.html homepage */

body{
  padding: 35px;
}

.heading{
  margin-top: 25px;
  margin-bottom: 10px;
}

.description{
  line-height: 1.3;
}

.hash{
  line-height: 1.2;
}

#footer-info{
  margin-top: 30px;
}

.panel-title > a:hover{
	color: yellow;
  text-decoration: none;
}

.panel-title > a:focus{
  color: white;
  text-decoration: none;
}

img.translate.img-responsive {
    width: 50px;
    float: right;
}

.language-link{
  float: right;
  padding: 5px;
}

a.btn-default.language-link{
  color: black;
  background-color: yellow;
  font-weight: bold;
  border: none;
}

.language-nav{
  background-color: transparent;
  border: none;
}

.search-field{
  border-radius: 0px;
  min-width: 100% !important;
}